/lab12/.idea/
/lab12/cmake-build-debug/
/lab12/src/main3.c/cmake-build-debug/
/cmake-build-debug/
/desktop.ini
/lab14/.idea/
/lab14/task1/.idea/
/lab14/task1/cmake-build-debug/
/lab14/task2/.idea/
/lab15 && lab17/.idea/
/lab15 && lab17/src/.idea/

